<!--footer-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="navbar-text"><i class="fa-solid fa-copyright"></i> 2024 Chris Panetta, Burhan Chattha, Jackson Barker</h6>
    </nav>
  </footer>
</body>
</html>
