  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/Content/favicon.svg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        CJB Support
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <% if(title=="CJB Support") { %>
                <a class="nav-link active" href="/">
             <% } else { %>     
              <a class="nav-link" href="/">
            <% } %>
              <i class="fa-solid fa-house"></i> Home</a>
          </li>
          <li class="nav-item">
            <% if(title=="Ticket Editor") { %>
              <a class="nav-link active" href="/editor">
            <% } else { %>  
              <a class="nav-link" href="/editor">
            <% } %>
              <i class="fa-solid fa-plus"></i> Create</a>
          </li>
          <li class="nav-item">
            <% if(title=="Manage Tickets") { %>
            <a class="nav-link active" href="/manage">
            <% } else { %>  
            <a class="nav-link" href="/manage"> 
            <% } %>   
              <i class="fa-solid fa-gear"></i> Manage</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>