<div class="alert alert-danger alert-dismissible my-5 text-start">
  <strong>Error!</strong> Your ticket could not be submitted.
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
