<div class="alert alert-success alert-dismissible my-5 text-start">
  <strong>Success!</strong> Your account has been created!
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
