<%- include Partials/header.ejs %> <%- include Partials/main_nav.ejs %>
<div class="container text-center">
  <% if (typeof submitted !== 'undefined' && submitted) { %>
  <div class="alert alert-success alert-dismissible my-5 text-start">
    <strong>Success!</strong> Your ticket was submitted!
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  <% } %> <% if (typeof submitted !== 'undefined' && !submitted) { %>
  <div class="alert alert-danger alert-dismissible my-5 text-start">
    <strong>Error!</strong> Your ticket could not be submitted.
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  <% } %>
  <img
    class="d-block mx-auto mt-5 mb-4"
    src="/Content/favicon.svg"
    alt="CJB Logo"
    width="72"
  />
  <h1 class="display-4 fw-bold mb-4"><%= title %></h1>
  <div class="btn-group">
    <a href="/editor" class="btn btn-primary btn-lg">Create Ticket</a>
    <a href="/manage" class="btn btn-secondary btn-lg">Manage Tickets</a>
  </div>
</div>
<%- include Partials/footer.ejs %>
