<%- include Partials/header.ejs %> <%- include Partials/main_nav.ejs %>

<div class="container text-center">
  <% if (typeof loggedin !== 'undefined' && !loggedin) { %>
  <div class="alert alert-danger alert-dismissible my-5 text-start">
    <strong>Error!</strong> Unable to login!
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  <% } %> <% if (typeof registered !== 'undefined' && registered) { %>
  <div class="alert alert-success alert-dismissible my-5 text-start">
    <strong>Success!</strong> Your account has been created!
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  <% } %>
  <h1 class="display-4 fw-bold mt-5 mb-4"><%= title %></h1>
  <p class="lead mt-4 mb-2">Please log in to access your account.</p>
</div>

<section id="login" class="py-5">
  <div class="container">
    <form
      action="/api/login"
      method="post"
      enctype="application/x-www-form-urlencoded"
      class="row g-3"
    >
      <div class="col-12">
        <label for="email" class="form-label">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter your email"
          required
        />
      </div>

      <div class="col-12">
        <label for="password" class="form-label">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Enter your password"
          required
        />
      </div>

      <div class="col-12 text-center mt-4">
        <button type="submit" class="btn btn-primary me-2 mt-5 mb-5">
          Login
        </button>
        <button type="reset" class="btn btn-secondary mt-5 mb-5">Reset</button>
      </div>
    </form>
  </div>
</section>

<%- include Partials/footer.ejs %>
