<main class="container">
  <div class="row py-5">
    <div class="offset-md-1 col-md-10">
      <table class="table table-bordered table-striped table-hover">
        <tr class="d-flex">
          <th class="col-2">Name</th>
          <th class="col-2">Email</th>
          <th class="col-4">Title</th>
          <th class="text-center col-1">Type</th>
          <th class="text-center col-1">Priority</th>
          <th class="text-center col-2"></th>
        </tr>
      </table>
    </div>
  </div>
</main>
